<link rel="stylesheet" href="/css/style_TrangChu.css" />

<div class="content-container" id="main-container">
	<div class="main-banner">
		<img src="/img/7af2c808c4.jpg" alt="Main Banner" class="banner-image" />
		<!-- <div class="watermark-moshowtoys">&</div> -->
	</div>

	<div class="divider-line"></div>
	<!-- tạo đường kẻ ở giữa banner và danh mục  -->

	<div class="featured-categories">
		<h2>Danh mục nổi bật</h2>
		<div class="categories-grid">
			<div class="category-item">
				<a th:href="@{/product(loai='Bandai HG')}"> <img
					src="/img/HGlogo.webp" alt="HG" /> <span>High Grade</span>
				</a>
			</div>
			<div class="category-item">
				<a th:href="@{/product(loai='Bandai RG')}"> <img
					src="/img/BandaiRG_Logo_1200x600_crop_center.jpg" alt="RG" /> <span>Real
						Grade</span>
				</a>
			</div>
			<div class="category-item">
				<a th:href="@{/product(loai='Bandai MG')}"> <img
					src="/img/MG_logo.jpg" alt="MG" /> <span>Master Grade</span>
				</a>
			</div>
			<div class="category-item">
				<a th:href="@{/product(loai='Bandai PG')}"> <img
					src="/img/tai-xuong-3.webp" alt="PG" /> <span>Perfect Grade</span>
				</a>
			</div>
			<div class="category-item">
				<a th:href="@{/product(loai='MOSHOW TOYS')}"> <img
					src="/img/moshoww.webp" alt="MOSHOWTOYS" /> <span>MOSHOWTOYS</span>
				</a>
			</div>
			<div class="category-item">
				<a th:href="@{/product(loai='IN ERA+')}"> <img
					src="/img/13828888.jpg" alt="IN ERA+" /> <span>IN ERA+</span>
				</a>
			</div>
			<div class="category-item">
				<a th:href="@{/product(loai='SNAA')}"> <img
					src="/img/13828915.jpg" alt="SNAA" /> <span>SNAA</span>
				</a>
			</div>
			<div class="category-item">
				<a th:href="@{/product(loai='MOTOR NUCLEAR')}"> <img
					src="/img/logo-083414.webp" alt="MOTOR NUCLEAR" /> <span>MOTOR
						NUCLEAR</span>
				</a>
			</div>
			<div class="category-item">
				<a th:href="@{/product(loai='Bandai')}"> <img
					src="/img/bandai-spirits9917.logowik.com.jpg" alt="Bandai" /> <span>Bandai</span>
				</a>
			</div>
		</div>
		<div class="category-footer-images">
			<img src="/img/dcfd00d1fbecc781565321be2951de9d.jpg"
				alt="Small Robot 1" />
			<div class="horizontal-line"></div>
			<img src="/img/bb2550137b7af7d69a72c8fc2e8567af.jpg"
				alt="Small Robot 2" />
		</div>
	</div>
</div>

<!-- Sản phẩm mới nhất  -->

<div class="latest-products-section">
	<div class="section-header">
		<h3>Sản phẩm mới nhất</h3>
		<img src="/img/a412809e21ce6a635a215eb916fe4204.jpg" alt="Robot Icon"
			class="header-robot-icon" />
	</div>
	<div class="products-carousel">
		<th:block th:each="sp, iterStat : ${danhsachSP}">
				<div class="product-card" th:if="${iterStat.index < 20}"
				th:classappend="${sp.tongSoLuongTon <= 0} ? ' het-hang' : ''">

				<div class="discount-badge"
					th:if="${sp.phanTramGiam != null or sp.giaGiam != null}">
					<span
						th:text="${sp.phanTramGiam != null ? '-' + sp.phanTramGiam + '%' : (sp.giaGiam != null ? '-' + T(java.lang.String).format('%,d', sp.giaGiam).replace(',', '.') + ' đ' : '') }"></span>
				</div>

				<div class="product-image-container">
					<a
						th:href="@{/chi-tiet-san-pham/{id}(id=${sp.sanPham.maSP}, ${sp.sanPham.tenSP})}">
						<img th:src="${sp.sanPham.anhSanPham[0].urlAnhSP}" alt="" />
					</a>

					<!-- Overlay chữ HẾT HÀNG -->
					<div class="overlay-het-hang" th:if="${sp.tongSoLuongTon <= 0}">
						HẾT HÀNG</div>
				</div>

				<h4 th:text="${sp.sanPham.tenSP}"></h4>
				<p
					th:text="${#numbers.formatDecimal(sp.giaSauGiam, 0, 'POINT', 0, 'COMMA')} + ' đ'"></p>
				<div class="product-stats">
					<span class="rating"> <i class="fas fa-star"
						style="color: #ffc107;"></i> <span
						th:text="${sp.diemTrungBinhDanhGia}">0.0</span>
					</span> <span class="sold" th:text="'Đã bán: ' + ${sp.tongSoLuongBan}"></span>
				</div>
			</div>
		</th:block>
	</div>
</div>
<!-- thêm 2 ảnh banner ở dưới sản phẩm mới nhất   -->
<div class="two-banners-section">
	<div class="banner-item-bottom">
		<img src="/img/db4rdwo-181ee894-90f6-46cf-becc-21391b208d3a.png"
			alt="Banner RX-0 UNICORN" />
	</div>
	<div class="banner-item-bottom second-banner">
		<img src="/img/1856.jpg" alt="Banner Gundam Promotion" />
	</div>
</div>

<!-- Sản phẩm bán chạy nhất   -->

<div class="latest-products-section">
	<div class="section-header">
		<h3>Sản phẩm bán chạy nhất</h3>
		<img src="/img/a412809e21ce6a635a215eb916fe4204.jpg" alt="Robot Icon"
			class="header-robot-icon" />
	</div>
	<div class="products-carousel">
		<th:block th:each="sp, iterStat : ${topBanChay}">
				<div class="product-card" th:if="${iterStat.index < 20}"
				th:classappend="${sp.tongSoLuongTon <= 0} ? ' het-hang' : ''">

				<div class="discount-badge"
					th:if="${sp.phanTramGiam != null or sp.giaGiam != null}">
					<span
						th:text="${
            sp.phanTramGiam != null ? '-' + sp.phanTramGiam + '%' :
            (sp.giaGiam != null ? '-' + T(java.lang.String).format('%,d', sp.giaGiam).replace(',', '.') + ' đ' : '')
        }"></span>
				</div>

				<div class="product-image-container">
					<a
						th:href="@{/chi-tiet-san-pham/{id}(id=${sp.sanPham.maSP}, ${sp.sanPham.tenSP})}">
						<img th:src="${sp.sanPham.anhSanPham[0].urlAnhSP}" alt="" />
					</a>

					<!-- Overlay chữ HẾT HÀNG -->
					<div class="overlay-het-hang" th:if="${sp.tongSoLuongTon <= 0}">
						HẾT HÀNG</div>
				</div>

				<h4 th:text="${sp.sanPham.tenSP}"></h4>
				<p
					th:text="${#numbers.formatDecimal(sp.giaSauGiam, 0, 'POINT', 0, 'COMMA')} + ' đ'"></p>
				<div class="product-stats">
					<span class="rating"> <i class="fas fa-star"
						style="color: #ffc107;"></i> <span
						th:text="${sp.diemTrungBinhDanhGia}">0.0</span>
					</span> <span class="sold" th:text="'Đã bán: ' + ${sp.tongSoLuongBan}"></span>
				</div>
			</div>
		</th:block>
	</div>
</div>

<!-- thêm 2 ảnh banner ở dưới sản phẩm bán chạy nhất   -->
<div class="two-banners-section">
	<div class="banner-item-bottom">
		<img src="/img/evo_banner_two_2.webp" alt="Banner RX-0 UNICORN" />
	</div>
	<div class="banner-item-bottom second-banner">
		<img src="/img/evo_banner_two_1.webp" alt="Banner Gundam Promotion" />
	</div>
</div>

<!-- Sản phẩm giảm giá    -->

<div class="latest-products-section">
	<div class="section-header">
		<h3>Sản phẩm giảm giá</h3>
		<img src="/img/a412809e21ce6a635a215eb916fe4204.jpg" alt="Robot Icon"
			class="header-robot-icon" />
	</div>
	<div class="products-carousel">
		<th:block th:each="sp, iterStat : ${spgiamgia}">
			<div class="product-card" th:if="${iterStat.index < 20}"
				th:classappend="${sp.tongSoLuongTon <= 0} ? ' het-hang' : ''">

				<div class="discount-badge"
					th:if="${sp.phanTramGiam != null or sp.giaGiam != null}">
					<span
						th:text="${
            sp.phanTramGiam != null ? '-' + sp.phanTramGiam + '%' :
            (sp.giaGiam != null ? '-' + T(java.lang.String).format('%,d', sp.giaGiam).replace(',', '.') + ' đ' : '')
        }"></span>
				</div>

				<div class="product-image-container">
					<a
						th:href="@{/chi-tiet-san-pham/{id}(id=${sp.sanPham.maSP}, ${sp.sanPham.tenSP})}">
						<img th:src="${sp.sanPham.anhSanPham[0].urlAnhSP}" alt="" />
					</a>

					<!-- Overlay chữ HẾT HÀNG -->
					<div class="overlay-het-hang" th:if="${sp.tongSoLuongTon <= 0}">
						HẾT HÀNG</div>
				</div>

				<h4 th:text="${sp.sanPham.tenSP}"></h4>
				<p
					th:text="${#numbers.formatDecimal(sp.giaSauGiam, 0, 'POINT', 0, 'COMMA')} + ' đ'"></p>
				<div class="product-stats">
					<span class="rating"> <i class="fas fa-star"
						style="color: #ffc107;"></i> <span
						th:text="${sp.diemTrungBinhDanhGia}">0.0</span>
					</span> <span class="sold" th:text="'Đã bán: ' + ${sp.tongSoLuongBan}"></span>
				</div>
			</div>
		</th:block>
	</div>
</div>
<!-- thêm 11 ảnh banner ở dưới cùng  -->
<div class="two-banners-section">
	<div class="banner-item-bottom">
		<img src="/img/banner-catologies-hg-gquuuuuux.webp"
			alt="Banner RX-0 UNICORN" />
	</div>
</div>