
<link rel="stylesheet" href="/css/Style_TrangCaNhan.css">

<div class="container">
	<!-- Sidebar -->
	<div class="sidebar">
		<div class="user-info">
			<img style="margin-left: 75px" th:src="${avatar}" alt="Avatar"
				onerror="this.onerror=null; this.src='/img/Screenshot_2025-06-19_220523-removebg-preview.png';">
			<strong th:text="${tendn}"></strong> <a th:href="@{/TrangCaNhan}">✎
				Sửa Hồ Sơ</a>
		</div>
		<ul>
			<li><a th:href="@{/TrangCaNhan}">Tài Khoản Của Tôi</a></li>
			<li><a th:href="@{/DiaChi}">Địa Chỉ</a></li>

			<li><a th:href="@{/Doimatkhau}" class="active">Đổi Mật Khẩu</a></li>

			<li><a th:href="@{/DonHang}">Đơn Mua</a></li>
		</ul>
	</div>

	<!-- Content -->
	<div class="content">
		<h2>Thêm mật khẩu</h2>
		<p>Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người
			khác</p>
		<form th:action="@{/xacnhandoimatkhau}" method="post">
			<div class="form-group">
				<label for="newPassword">Mật khẩu mới</label>
				<div class="input-wrapper">
					<input type="password" id="matKhau" name="matKhau">
					<button type="button" onclick="togglePassword()"
						style="position: absolute; bottom: 0; right: 50px; height: 100%; background: none; border: none; cursor: pointer; display: flex; align-items: center; justify-content: center; padding: 0;">
						<ion-icon id="toggleIcon" name="eye-outline"
							style="font-size: 22px; color: #777;"></ion-icon>
					</button>

				</div>

			</div>
			<p th:if="${passwordError}" th:text="${passwordError}"
				style="color: #ff6b6b; font-size: 0.8rem; margin-top: -1rem; margin-bottom: 1rem; text-align: right; margin-right: 250px" ></p>
			<div class="form-group">
				<label for="confirmPassword">Xác nhận mật khẩu</label>
				<div class="input-wrapper">
					<input type="password" id="xacnhanmatkhau" name="xacnhanmatkhau">

				</div>
			</div>
			<p th:if="${confirmError}" th:text="${confirmError}"
				style="color: #ff6b6b; font-size: 0.8rem; margin-top: -1rem; margin-bottom: 1rem; text-align: right; margin-right: 250px" ></p>
				
					<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />	
				
			<button class="btn-submit">Xác Nhận</button>
		</form>
	</div>
</div>

<script>
	function togglePassword() {
		const input = document.getElementById("matKhau");
		const icon = document.getElementById("toggleIcon");
		if (input.type === "password") {
			input.type = "text";
			icon.name = "eye-off-outline";
		} else {
			input.type = "password";
			icon.name = "eye-outline";
		}
	}
</script>
