
<link rel="stylesheet" href="/css/Style_TrangCaNhan.css">
<div class="container">
	<!-- Sidebar -->
	<div class="sidebar">
		<div class="user-info">

			<img style="margin-left: 75px" th:src="${avatar}" alt="Avatar">
			<strong th:text="${tendn}"></strong> <a th:href="@{/TrangCaNhan}">✎ Sửa Hồ Sơ</a>
		</div>
		<ul>
			<li><a th:href="@{/TrangCaNhan}" >Tài Khoản
					Của Tôi</a></li>
			<li><a th:href="@{/DiaChi}" class="active">Địa Chỉ</a></li>

			<li><a th:href="@{/doimatkhau}">Đổi Mật Khẩu</a></li>

			<li><a th:href="@{/DonHang}" >Đơn Mua</a></li>
		</ul>
	</div>

	<!-- Main Content -->
	<div class="content">
		<div class="content-header">
			<div>
				<h2>Địa chỉ của tôi</h2>
			</div>
			<button class="btn-add">+ Thêm địa chỉ mới</button>
		</div>

		<div class="address-list">
			<th:block th:each="dc, iterStat : ${dsDiaChi}">
				<div class="address-item">

					<div class="name">
						<div>
							<strong th:text="${dc.hoTen}">võ trường giang</strong> <span
								th:text="${dc.soDienThoaiQuocTe}"></span>
						</div>
						<div th:text="${dc.diaChiDayDu}"></div>
						<!-- ✅ Địa chỉ đầy đủ -->

						<div th:if="${dc.macDinh}" class="default-label">Mặc định</div>
					</div>
					<div class="address-actions">
						<a href="#">Cập nhật</a> <a href="#">Xóa</a>
						<form th:action="@{'/DiaChi/mac-dinh/' + ${dc.maDiaChi}}"
							method="post" style="display: inline;">
							<button type="submit" class="btn-set-default"
								th:if="${!dc.macDinh}">Thiết lập mặc định</button>
							<span th:if="${dc.macDinh}" class="default-tag"></span>
						</form>

					</div>


				</div>
			</th:block>
		</div>
	</div>
</div>